*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.navbar{
	border-color: black;
	border-top: none;
	border-right: none;
	border-left: none;
	margin: 0;
}

.navbar-nav{
	padding: 30px 0;
}

.logo{
	padding-left: 30px;
    top: 35px;
}

.seccion-taxi{
	background-image: url(../img/taxi.jpg);	
	height: 672px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.caja-contenedora{
	width: 84vh;
	padding-top: 54px;
    margin-top: 45px;
    height: 53vh;
	background-color: #f7b617;
}

.primera-linea{
	display: block;
	    margin-top: -31px;
}

.caja-contenedora h2,h4{
	color: whitesmoke;
}

.caja-contenedora h4{
	display: inline-block;
	font-size: 19px;

}

.logo-white{
    height: 19px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.registrate{
	color: whitesmoke;
	    padding-top: 17px;
}

#solicitud{
	border-color: whitesmoke;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: rgb(247, 182, 23);
	margin-top: 8px;
	
}

.contenedor-boton{
	padding-top: 20px;
}

.otra-opcion{
	display: inline-block;
	color: whitesmoke;
}



/******Seccion de informacion********/

.contenedor-informacion{
	background-color: #f7b617;
	padding: 47px 0;
	color: whitesmoke;
}

.margen{
	border-top: 1px solid whitesmoke;
	border-bottom: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
	padding: 40px 0;
}

.contenedor-informacion h1{
	font-size: 32px;
}

.texto-labcar{
	font-size: 19px;
}

.contenedor-conduce{
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.conduce{
	background-color: rgba(10, 11, 39, 0.6);
	color: white;
	height: 100vh
}

.conduce h2{
	padding-top: 114px;
    font-size: 27px;
    padding-bottom: 24px;
    color: white
}


.conduce h4{
	font-size: 15px;
	color: white;
}